/** COLORS **/
$background-body: #ff7e7e;
$background-color: #000000;
$color-disney : #041225;
/** BUTTONS HEADER**/
$background-button : #0063E5;
/** TXT PRINCIPAL **/
$color-principal: #F9F9F9;
/** TXT DESCRIPTION **/
$color-description: #C0C0C0;
$btn-bundle : #2B2D37;
/** ------------------------------- **/